/* My-Work GRID */
#reveal-work-grid {
    opacity: 0;
    -webkit-transform: scale(0.9);
         -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
             -o-transform: scale(0.9);
                    transform: scale(0.9);
    -webkit-transition: all 0.8s ease-in-out;
         -moz-transition: all 0.8s ease-in-out;
            -ms-transition: all 0.8s ease-in-out;
             -o-transition: all 0.8s ease-in-out;
                    transition: all 0.8s ease-in-out;
}

#reveal-work-grid.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}

/* ABOUT TITLE */
#reveal-about-title {
   opacity: 0;
   -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
           -ms-transform: scale(0.9);
            -o-transform: scale(0.9);
                   transform: scale(0.9);
   -webkit-transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
           -ms-transition: all 0.8s ease-in-out;
            -o-transition: all 0.8s ease-in-out;
                   transition: all 0.8s ease-in-out;
}

#reveal-about-title.visible {
   opacity: 1;
   -webkit-transform: none;
        -moz-transform: none;
           -ms-transform: none;
            -o-transform: none;
                   transform: none;
}

/* TIMELINE(ABOUT) ITEMS */
.timeline-item {
   opacity: 0;
   -webkit-transform: translateX(-40px);
       -moz-transform: translateX(-40px);
         -ms-transform: translateX(-40px);
          -o-transform: translateX(-40px);
               transform: translateX(-40px);
   -webkit-transition: all 0.6s ease-out;
       -moz-transition: all 0.6s ease-out;
         -ms-transition: all 0.6s ease-out;
          -o-transition: all 0.6s ease-out;
               transition: all 0.6s ease-out;
}
.timeline-item.visible {
   opacity: 1;
   -webkit-transform: none;
       -moz-transform: none;
         -ms-transform: none;
          -o-transform: none;
               transform: none;
}